* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.btn_back {
  width: fit-content;
}

.btn_back a {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: var(--text-weigth);
}

.photos {
  display: flex;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thumbnails img {
  width: 50px;
  height: 50px;
}

.image img {
  width: 400px;
}
